@{
    ViewData["Title"] = "Ticket Reports";
}

<div class="page-inner">
    <div class="page-header">
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a asp-controller="Dashboard" asp-action="Index">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a asp-controller="Report" asp-action="Index">Ticket Report</a>
            </li>
        </ul>
    </div> <!-- end page header -->
   
</div>


<!--   Core JS Files   -->
<script src="~/js/core/jquery-3.7.1.min.js"></script>
<script src="~/vendor/toastr/js/toastr.min.js"></script>