@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>



<div class="col-md-6 col-sm-12">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div class="card-title">User Roles</div>
            <button type="button"
                    class="btn btn-primary btn-round"
                    data-bs-toggle="modal"
                    data-bs-target="#modal-form-add-role">
                Add New
            </button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="user_role_datatables"
                       class="table table-hover table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>#</th>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int counter = 0;
                        }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>#</td>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>
                                    <div class="btn-group dropdown">
                                        <button class="btn btn-sm btn-black btn-border dropdown-toggle"
                                                type="button"
                                                data-bs-toggle="dropdown">
                                            Options
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a class="dropdown-item" type="button" href=""
                                                   data-bs-toggle="modal"
                                                   data-bs-target="#modal-form-edit-role">Edit</a>
                                                <a class="dropdown-item" href="#" type="button"
                                                   data-bs-toggle="modal"
                                                   data-bs-target="#modal-notification-delete-role">Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
