
<div class="modal fade"
     id="modal-notification-delete"
     tabindex="-1"
     role="dialog"
     aria-labelledby="modal-notification"
     aria-hidden="true">
    <div class="modal-dialog modal-danger modal-dialog-centered modal-"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title fw-bold" id="modal-title-notification">
                    Your attention is required
                </h6>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="py-3 text-center">
                    <i class="fas fa-bell" style="font-size: 24px"></i>
                    <h4 class="text-danger mt-4">You should read this!</h4>
                    <p>
                        This user can be deleted if there are no connected records.
                        Are you sure you want to continue?
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn btn-secondary"
                        data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary">Ok, Got it</button>
            </div>
        </div>
    </div>
</div>
