<footer class="footer">
    <div class="container-fluid d-flex justify-content-between">
        <nav class="pull-left">
            <ul class="nav">
                <li class="nav-item">
                    2024, made with by
                    <a href="http://www.themekita.com">ThemeKita</a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            &lt;/&gt;  Developed and Maintained by MIS - Metro Health
        </div>
    </div>
</footer>