<nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
    <div class="container-fluid">
        <nav class="navbar navbar-header-left navbar-expand-lg navbar-form p-0 d-none d-lg-flex">
            <div>
                <span class="text-muted" id="currentDateTime"></span>
            </div>
        </nav>
        <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
            <li class="nav-item topbar-user dropdown hidden-caret">
                <a class="dropdown-toggle profile-pic"
                   data-bs-toggle="dropdown"
                   href="#"
                   aria-expanded="false">
                    <span class="profile-username">
                        <span class="op-7">Hi,</span>
                        <span class="fw-bold">@User.Identity.Name.ToUpper()</span>
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-user animated fadeIn">
                    <div class="dropdown-user-scroll scrollbar-outer">
                        <li>
                            <a class="dropdown-item" asp-controller="User" asp-action="Edit"
                               asp-route-id="@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value">
                                Account Setting
                            </a>
                            <div class="dropdown-divider"></div>
                            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <a style="cursor: pointer;" class="dropdown-item" onclick="document.getElementById('logoutForm').submit(); return false;">Logout</a>
                            </form>
                        </li>
                    </div>
                </ul>
            </li>
        </ul>
    </div>
</nav>

